/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.hideDiv
{
    display:none;
}

#card-img-top {
  width:100px
}


form input[type=text]::placeholder {
  font-family: "Montserrat";
  color: #666;
}

form h2 {
  font-family: "Montserrat";
  color: rgba(70, 67, 72, 0.714);
}
