<div class="container">
  <form #todoForm="ngForm" (ngSubmit)="todoSubmit(todoForm.value)">

    <div class="form-group">
      <h1 class="text-center text-primary">Mini NetFlix</h1>

      <div class="input-group-prepend">

        <input type="text" #todo class="form-control" placeholder="Search for a Movie Title" name="todo" ngModel>
        <span class="input-group-text" (click)="searchMovies(todo.value)"><i class="material-icons">search</i></span>

      </div>


      <div class="container">

        <div *ngFor="let todo of todoArray" fxLayout="row" fxLayoutAlign="space-between">
          <img src='{{todo.posterPath}}' width=200px />
          <h2>{{todo.title}}</h2>
          <h5>ReleaseDate: {{todo.releaseDate}}</h5><br />
          <h6>Vote Average: {{todo.voteAverage}}</h6>
          <i (click)="deleteItem(todo)" class="material-icons">favorite</i>
          <br />

        </div>

      </div>



      <!-- <div class="data">

        <ul class="list-inline">

          <li *ngFor="let todo of todoArray" class="list-inline-item">

            <img src='https://image.tmdb.org/t/p/w500{{todo.posterPath}}' width=200px />
            <h1>{{todo.title}}</h1>
            <h5>ReleaseDate: {{todo.releaseDate}}</h5>
            <h5>Vote Average: {{todo.voteAverage}}</h5>
            <i (click)="deleteItem(todo)" class="material-icons">favorite</i>


          </li>
        </ul>

      </div> -->

    </div>

  </form>
</div>
