


<div class="container">
  <form #todoForm="ngForm" (ngSubmit)="todoSubmit(todoForm.value)">

    <div class="form-group">
      <a href="/">
        <h1 class="text-center text-primary">Mini NetFlix</h1>
      </a>

      <i (click)="searchMovies('#showFavs#')" class="material-icons">favorite</i>

      <div class="input-group-prepend">

        <input type="text" #todo class="form-control" placeholder="Search for a Movie Title" name="todo" ngModel>
        <span class="input-group-text" (click)="searchMovies(todo.value)"><i class="material-icons">search</i></span>

      </div>


      <div class="container">
        <div class="row">




          <div class="col-4" *ngFor="let todo of todoArray">

            <div class="card h-100" class="view rgba-white-slight waves-light" mdbWavesEffect>
              <div class="card-block">

                <h4 class="card-title">{{todo.title}}</h4>
                <img class="card-img-top" src='{{todo.posterPath}}' alt="Card image cap" />
                <p class="card-text">Year of Production : {{todo.releaseDate | date:'longDate'}}</p>
                <i (click)="addTodo(todo)" class="material-icons">favorite_border</i>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </form>
</div>
